{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
	        <div class="media-body">
	        	<h2><a class="article-title" href="{% url 'blogs:blog-page' slug=post.slug %}">{{ post.title }}</a></h2>
	            <img src="{{ post.banner_url }}" width="300" height="200">
	            <div class="article-metadata">
	              <div class="text-muted">{{ post.date_posted }}</div> by <span class="mr-2">{{ post.author }}</a>
	            </div>
	        </div>
        </article>
    {% endfor %}
{% endblock %}